.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;


}

body {
  background-color: #e6739f;
  text-align: center;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #cc0e74;
}
button {
   -webkit-border-radius: 100px;
   -moz-border-radius: 100px;
   border-radius: 100px;
   color: #CC0E74;
   font-family: monospace;
   font-size: 40px;
   font-weight: 600;
   padding: 30px;
   background-color: #E6739F;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   border: solid #CC0E74 4px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

button:hover {
   background: #D56BA4;
   border: solid #7E3959 4px;
   -webkit-border-radius: 100px;
   -moz-border-radius: 100px;
   border-radius: 100px;
   text-decoration: none;
}

p {
  font-size: 2rem;
  color: #790c5a;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
